body {
    background-color: rgb(255, 255, 164);
    font-family: Cambria;
}
.box {
    width: 800px;
    background: white;
    padding: 10px;
    margin: 100px auto;
    border: 3px black;
    border-radius: 3px;
    text-align: center;
    height: auto;
}
input {
    width: 200px;       
    padding: 10px;     
    font-size: 18px;  
    margin-bottom: 15px;
    border: 3px solid black;
}

label{
    font-size: 20px;   
    font-weight: bold; 
    width: 150px;     
    text-align: right;  
    margin-right: 15px;
}
p{
    font-size: medium;
    font-weight: bold;
}
button {
    background-color: rgb(252, 252, 90);
    font-family: Cambria;
    margin-top: 20px;
    padding: 10px;
    width: 42%;
    color: rgb(0, 0, 0);
    border: 2px;
    font-size: 24px;
    cursor: pointer;
}
